@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  body {
    transition: colors 300ms;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  #root {
    width: 100%;
    min-height: 100vh;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar { 
    width: 8px; 
  }
  ::-webkit-scrollbar-track { 
    background: transparent;
  }
  ::-webkit-scrollbar-thumb { 
    background: #0EA5E9;
    border-radius: 9999px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
